* {
    margin: 0;
    padding: 0;
}

#wrap {
    height: 719px;
    width: 100%;
    /*background-image: url(4.jpg);*/
    position: relative;
    background: whitesmoke no-repeat center center;
}

#head {
    height: 120px;
    width: 100%;
    background-color: #66CCCC;
    text-align: center;
    position: relative;
}

#foot {
    width: 100%;
    height: 126px;
    background-color: dimgrey;
    position: relative;
}

#wrap .logGet {
    height: 408px;
    width: 368px;
    position: absolute;
    background: gainsboro;
    top: 20%;
    right: 15%;
}

.logC a button {
    width: 100%;
    height: 45px;
    background-color: #ee7700;
    border: none;
    color: white;
    font-size: 18px;
}

.logGet .logD.logDtip {
    display: inline-block;
    font-size: 28px;
    margin-top: 30px;
    width: 86%;
}

#wrap .logGet .logD.logDtip {
    width: 86%;
    border-bottom: 1px solid #ee7700;
    /*margin: 0 auto 60px;*/
    margin-left: 30px;
}

.logGet .lgD img {
    position: absolute;
    top: 12px;
    left: 8px;
}

.logGet .lgD input {
    width: 100%;
    height: 42px;
    text-indent: 0.5rem;
}

#wrap .logGet .lgD {
    width: 86%;
    position: relative;
    margin: 30px auto;
}

#wrap .logGet .logC {
    width: 86%;
    margin: 0 auto;
}


.title {
    font-family: "微软雅黑", serif;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 使用css3的transform来实现 */
    font-size: 36px;
    height: 40px;
    width: 30%;
}

.copyright {
    font-family: "微软雅黑", serif;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 使用css3的transform来实现 */
    height: 60px;
    width: 40%;
    text-align: center;
}


#foot .copyright .img {
    width: 100%;
    height: 24px;
    position: relative;
}

.copyright .img .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;
    /*background-image: url(%E7%94%B5%E5%AD%90%E9%82%AE%E4%BB%B6.png);*/
    background-repeat: no-repeat;
    margin-right: 5px;
}

.copyright .img .icon1 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;
    /*background-image: url(%E5%9C%B0%E5%9D%80.png);*/
    background-repeat: no-repeat;
    margin-right: 5px;
}

.copyright .img .icon2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 22px;
    vertical-align: middle;
    /*background-image: url(%E8%81%94%E7%B3%BB%E6%96%B9%E5%BC%8F.png);*/
    background-repeat: no-repeat;
    margin-right: 5px;
}

#foot .copyright p {
    height: 24px;
    width: 100%;
}

.panel_title {
    cursor: pointer;
}

.user_icon {
    height: 20px;
    width: 20px;
    background: url(../assets/images/icons/icon-user.png) no-repeat center center;
}
